@use "../common" as *;
@use "../helper" as *;

.input-field-wrapper {
  label {
    text-transform: capitalize;
  }
  
  label.lg {
    @include fontstyle($font-size-sm, $display2-weight, $grey-434);
  }
  
  label.md {
    @include fontstyle(15px, $display2-weight, $grey-434); 
  }
  
  label.sm {
    @include fontstyle(13px, $display2-weight, $grey-434); 
  }
  
  i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 13px; 
    font-size: 18px; 
    color: $grey-434;
  }
}

.input-field-wrapper {
  &.normal {
    .input-wrapper {
      position: relative;
      
      .input {
        @include input(
          100%, 
          50px, 
          inherit, 
          #ffffff, 
          $grey-434, 
          25px,
          $font-size-xs, 
          $display3-weight
        );
        border: 1px solid #E0E5F2;
      }
    }
  }
}

.error-msg {
  color: red;
  font-size: 12px; // Retained in px (below 20px)
  margin-top: 5px; // Retained in px (below 20px)
}
