@use "../common" as *;
@use "../helper" as *;

.table-container {
  overflow: auto;
  // filter: drop-shadow(-4px 11px 20px rgba(0, 0, 0, 0.1));
  table {
    width: 100%;
    // min-width: 1000px;
    background-color: $white;
    thead {
      tr {
        // background-color: $blue-3ca;
        height: 40px;
      }
    }
    th,
    td {
      text-align: center;
      padding: 8px 5px;
      @include fontstyle(14px, 500, $blue-a3a);
    }
    tbody {
      tr {
        border-top: 2px solid $grey-e2e;
        i {
          font-size: 16px;
        }
      }
      td {
        @include fontstyle(16px, 500, $grey-434);
        padding: 35px 2px;
      }
    }
  }
}
