@use "../common" as *;
@use "../helper" as *;

.top-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.9rem 1.25rem;
  background-color: #fff;
  filter: drop-shadow(14px 17px 40px rgba(0, 0, 0, 0.1));
  position: fixed;
  left: 0;
  z-index: 999;
  top: 0;
  height: 80px;
  width: 100%;

  @media (max-width: 768px) {
    height: auto;
  }
  .brand {
    display: flex;
    align-items: center;

    .logo {
      width: 20rem;
    }

    .brand-name {
      margin-left: 0.625rem;
      font-size: $font-size-lg;
      font-weight: $display2-weight;
      color: #333;
    }
  }

  .nav-icons {
    display: flex;
    align-items: center;

    .icon {
      margin-left: 1.25rem;
      color: #d9d9d9;
      cursor: pointer;
    }

    .profile-image {
      width: 2.1875rem;
      height: 2.1875rem;
      border-radius: $border-radius-circle;
      margin-left: 0.9375rem;
      cursor: pointer;
    }
    .profile-dropdown {
      position: absolute;
      top: 5.2rem;
      right: 0;
      background-color: #fff;
      border-radius: 1rem;
      box-shadow: 13.776px 16.728px 39.36px 3.936px rgba(112, 144, 176, 0.08);
      padding: 1rem;
      width: 230px;
      transition: transform 0.4s cubic-bezier(0.25, 1, 0.5, 1), opacity 0.4s ease;
      opacity: 0;
      transform: translateY(-10px);
      pointer-events: none;

      &.open {
        opacity: 1;
        transform: translateY(0);
        pointer-events: auto;
      }

      .dropdown-header {
        font-size: 1rem;
        font-weight: 500;
        color: #333;
        margin-bottom: 0.5rem;
        display: flex;
        align-items: center;
        gap: 0.5rem;
      }

      .dropdown-item {
        padding: 0.5rem 0;
        font-size: 0.9rem;
        color: #555;
        cursor: pointer;

        &.logout {
          color: #e74c3c;
          font-weight: bold;
        }

        &:hover {
          color: #007bff;
        }
      }
    }
  }

  @media (max-width: 768px) {
    flex-wrap: wrap;
    justify-content: flex-start;

    .brand {
      width: 100%;
      justify-content: center;
    }

    .nav-icons {
      width: 100%;
      margin-top: 0.5rem;
      justify-content: space-between;
      order: 2;

      .icon,
      .profile-image {
        margin-left: 0.75rem;
      }

      div {
        flex-grow: 1;
        display: flex;
        justify-content: center;

        .search-input {
          width: 100%;
          max-width: 300px;
        }
      }
    }
  }
}
.top-nav {
  .hamburger-menu {
    display: none;
    font-size: 1.5rem;
    cursor: pointer;
    margin-right: 1rem;

    @media (max-width: 1200px) {
      display: block;
    }
  }
}

.sidenav {
  transition: transform 0.3s ease;
  transform: translateX(0);

  &.open {
    transform: translateX(0);
  }
}
