.dashboard-layout {
  .content {
    position: absolute;
    top: 95px;
    left: 350px;
    width: calc(100% - 350px);
  }

  @media (max-width: 1200px) {
    .content {
      left: 0; 
      width: 100%;
    padding: 20px;
    }
  }
}
