@font-face {
    font-family: "ArticulatCF-Regular";
    src: url("/fonts/ArticulatCF-Regular.otf") format("opentype");
    font-display: swap;
  }
  
  @font-face {
    font-family: "ArticulatCF-Bold";
    src: url("/fonts/ArticulatCF-Bold.otf") format("opentype");
    font-display: swap;
  }
  
  @font-face {
    font-family: "ArticulatCF-Medium";
    src: url("/fonts/ArticulatCF-Medium.otf") format("opentype");
    font-display: swap;
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "ArticulatCF-Regular";
    font-weight: normal;
    letter-spacing: .7px;
  }
    body::-webkit-scrollbar {
      width: 8px;
    }
  
    body::-webkit-scrollbar-thumb {
      background-color: rgba(0, 0, 0, 0.4);
      border-radius: 10px; 
    }
    body::-webkit-scrollbar-thumb:hover {
      background-color: rgba(0, 0, 0, 0.5);
    }
  
    body::-webkit-scrollbar-track {
      background-color: transparent;
      border-radius: 10px;
    }

    
  
  // @media screen and (max-width: 1200px) {
  //   html {
  //     font-size: 55%;
  //   }
  // }
  
  // @media screen and (max-width: 992px) {
  //   html {
  //     font-size: 52%;
  //   }
  // }
  
  // @media screen and (max-width: 768px) {
  //   html {
  //     font-size: 49%;
  //   }
  // }
  