// base
$white: #fff;
$black: #000;
$blue-3ca: #3ca3dc;

$blue-002: #002f45;
$blue-084: #084d6e;
$blue-156: #156b98;
$blue-238: #238ac3;
$blue-65b: #65b8e5;
$blue-8fc: #8fccee;
$blue-87e: #b7e1f8;
$blue-a3a: #a3aed0;

$grey-434: #434343;
$grey-555: #555;
$grey-686: #686868;
$grey-7b7: #7b7b7b;
$grey-8e8: #8e8e8e;
$grey-a1a: #a1a1a1;
$grey-b3b: #b3b3b3;
$grey-e2e: #e2e8f0;

// Updated color lists
$colors: $blue-3ca, $white, $black;
$bgColors: $blue-238, $blue-65b, $blue-8fc, $blue-87e;
$borderColors: $blue-002, $blue-084, $blue-156;
$greyScaleColors: $grey-434, $grey-555, $grey-686, $grey-7b7, $grey-8e8,
  $grey-a1a, $grey-b3b;
