 // Define border properties
 $border-radius: 4px !default;
 $border-radius-lg: 4.8px !default;
 $border-radius-sm: 3.2px !default;
 $border-radius-xs: 2px !default;
 $border-radius-circle: 50% !default;
 $border-radius-round: 50px !default;
 $border-width: 1px !default;

//  buttons sizes
$sm-btn-height: 30px;
$base-btn-height: 35px;
$lg-btn-height: 50px;
